/HefestoSoftware/dist/
/HefestoSoftware_V2/Antiguo/build/
/HefestoSoftware_V2/Antiguo/dist/
/HefestoSoftware_V2/Antiguo/nbproject/private/
/nbproject/private/
/build/
/HefestoSoftware_V2/dist/
/ACOES-HS/ACOES-HS-ejb/build/
/ACOES-HS/build/
/ACOES-HS/dist/
/ACOES-HS/ACOES-HS-war/dist/
/ACOES-HS/ACOES-HS-war/build/
/ACOES-HS/ACOES-HS-ejb/dist/
/ACOES-HS/nbproject/private/
/ACOES-HS/ACOES-HS-war/nbproject/private/
/ACOES-HS/ACOES-HS-ejb/nbproject/private/